.cover__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
  background-color: rgb(42, 44, 47, .3);
  transition: background-color .3s ease;
}

.cover__link:hover {
  background-color: rgb(42, 44, 47, .8);
}


