.place__title {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  align-self: flex-end;
  margin: 0;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    margin: 0 16px;
  }
}
