.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 100vw;
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 96px);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 48px);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    width: calc(100% - 32px);
    gap: 12px;
  }
}
