.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  align-self: flex-start;
  margin: 0;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 16px;
  }
}
